<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estrucutura base Angular</title>
  <!-- Agrega aquí tus enlaces a archivos CSS externos o estilos en línea -->
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
<div class="navbar"> <h1 style="margin-right: 1100px;"> TEST FRONT-END KEYCLOAK</h1>
  <button type="button" (click)="logout()" style="margin-right: 50px;">Log out</button>
</div>

  <!-- Encabezado principal -->
  <h3> Gestion de usuario y perfiles</h3>
  <!-- Primera tabla -->
  <table class="table table-bordered">
    <caption>Usuarios</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <!-- Bucle *ngFor para recorrer los elementos del array data -->
      <tr *ngFor="let item of data">
        <!-- Mostrar el ID -->
        <td>{{ item[2].id }}</td>
        <!-- Mostrar el nombre y el apellido -->
        <td>{{ item[2].nombre }} {{ item[2].apellido }}</td>
      </tr>
    </tbody>
  </table>

  <br>

  <!-- Segunda tabla -->
  <table class="table table-bordered">
    <caption>Perfiles</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Perfil</th>
        <th>Usuario Asociado</th>
      </tr>
    </thead>
    <tbody>
      <!-- Bucle *ngFor para recorrer los elementos del array data -->
      <tr *ngFor="let item of data">
        <!-- Mostrar el ID -->
        <td>{{ item[0] }}</td>
        <!-- Mostrar el perfil -->
        <td>{{ item[1] }}</td>
        <!-- Mostrar el Usuario asociado al perfil -->
        <td>{{ item[2].nombre }} {{ item[2].apellido }}</td>
      </tr>
    </tbody>
  </table>
  

</body>
</html>